<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#fetch").click(function(){
        $.getJSON("data.json", function(json){
            for (var key in json) {
                            if (json.hasOwnProperty(key)) {
                                var item = json[key];
                                console.log(item.id)
                            };  
            };
        });
    });
});
</script>
</head>
<body>
<div id="fetch"> Get Data</div>
<button>Get dataaa</button>
</body>
</html>