<!doctype html>
<html ng-app="proj" >
<head>

<title>First Project</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>

  <script>
    var app = angular.module('proj', []);
    app.controller('newcontroller', ['$scope', '$http', function($scope, $http) {
    $scope.DataButton = function() {
    $http.get('data.json').success(function(data) {
        $scope.message = data.names;
      });
  }
}]);
  </script>

</head>
<body ng-controller="newcontroller">
  <button ng-click="DataButton()">Get Data</button>
  <div ng-bind="message"></div>
</body>

</html>