<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#fetch").click(function(){
        $.getJSON("data.json", function(json){
            for (var key in json) {
                            if (json.hasOwnProperty(key)) {
                                var item = json[key];
                                console.log(item.id)
                            };  
            };
        });
    });
});
</script>

<script>
$(document).ready(function(){
    $('#search').click(function() {
                        $.ajax({
                              type : 'GET',
                              dataType : 'json',
                              url: 'data.json',
                              success : function(data) {
                              console.log(data);
                              };
                        });      
                        /*$.ajax({
                            type: 'POST',
                            url: 'cityResults.htm',
                            data: $('#cityDetails').serialize(),

                            success: function(data){ 
                                alert(data);    
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                alert('error: ' + textStatus + ': ' + errorThrown);
                            }
                        });
                        return false;//suppress natural form submission*/
    }); 
});
</script>
</head>
<body>
<div id="search"> Get Data</div>
<button id="fetch">Get dataaa</button>
</body>
</html>